{% load static %}
<!-- Footer Start -->
<footer class="bg-white shadow py-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                {# Footer message start  #}
                <div class="copyright">© Copyrights <a href="https://publicai.co.kr/">PublicAI</a> 2022. All rights
            reserved. Designed by <a
                    href="https://publicai.co.kr/">PublicAI</a></div>
                {# Footer message End  #}
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
