{% load static %}
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">

        {# Logo start #}
        <div class="sidebar-brand">
            <a href="{% url 'doctris_base:index' %}">
                <img src="{% static 'doctris_base/images/logo-main.jpeg' %}" height="28" class="logo-light-mode" alt="">
            </a>
        </div>
        {# Logo end #}

        <!-- sidebar-menu Start -->
        <ul class="sidebar-menu pt-3">
            {# 단일 메뉴 #}
            <li>
                <a href="{% url 'account:profile' %}">
                    <i class="uil uil-user me-2 d-inline-block"></i>
                    프로필
                </a>
            </li>

            <li>
                <a href="{% url 'project:index' %}">
                    <i class="uil uil-apps me-2 d-inline-block"></i>
                    프로젝트 관리
                </a>
            </li>

            <li>
                <a href="{% url 'approval:index' %}">
                    <i class="uil uil-transaction me-2 d-inline-block"></i>
                    구매 관리
                </a>
            </li>

            <li>
                <a href="">
                    <i class="uil uil-archive me-2 d-inline-block"></i>
                    자원 관리
                </a>
            </li>
            <li>
                <a href="{% url 'file:index' %}">
                    <i class="uil uil-files-landscapes-alt me-2 d-inline-block"></i>
                    산출물 관리
                </a>
            </li>

            <li>
                <a href="">
                    <i class="uil uil-user-arrows me-2 d-inline-block"></i>
                    인력 관리
                </a>
            </li>

        </ul>
        <!-- sidebar-menu End -->
    </div>

    <!-- sidebar-content Start -->
    <ul class="sidebar-footer list-unstyled mb-0">
        {# Chatting start #}
        <li class="list-inline-item mb-0 ms-1">
            <a href="#" class="btn btn-icon btn-pills btn-soft-primary">
                <i class="uil uil-comment icons"></i>
            </a>
        </li>
        {# Chatting end #}
    </ul>
    <!-- sidebar-content end -->
</nav>